zero;
    }
    
    
    header img {
      width: 100px;
      height: 100px;
      vertical-align: center;
      border-radius: 100%;
    }

    header h1 {
      text-align: center;
      margin: 10px 0 5px;
      color: white;
    }

    nav {
      background-color: #005a86;
      padding: 10px;
    
      text-align: center;
      color: white;
      border: #00405E solid 2.5px;
      border-radius: 20px;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav a:hover {
      color: white;
      transform: scale(1.3);
        transition: 2s;
      text-decoration: bold;
    }

    main {
      max-width: 1100px;
      margin: 30px auto;
      padding: 20px;
      background-color: #F7FDFF;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #005a86;
      border-bottom: 3px solid #0078b7;
      padding-bottom: 5px;
    }

    section {
      margin-bottom: 40px;
    }

    .image-center {
      text-align: center;
      margin: 20px 0;
    }

    .image-center img {
      max-width: 95%;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }

    blockquote {
      font-style: italic;
      background: #eef7ff;
      border-left: 5px solid #0078b7;
      padding: 10px 20px;
      margin: 15px 0;
    }

    .why-box {
      background-color: #e3f2fd;
      border-left: 5px solid #0078b7;
      padding: 10px 20px;
      margin-bottom: 15px;
      border-radius: 5px;
    }

    footer {
      background-color: #005a86;
      color: white;
      text-align: center;
      padding: 15px 0;
      margin-top: 40px;
      border: #00405E solid 2.5px;
      border-radius: 10px;
    }

    footer a {
      color: #ffe600;
      text-decoration: none;
      margin: 0 10px;
    }

    footer a:hover {
      text-decoration: underline;
    }
  </style>
</head>
